/* Palette Nightfox Oficial */
@define-color bg #131a24;
@define-color bg_alt #192330;
@define-color bg_highlight #212e3f;
@define-color fg #cdcecf;
@define-color fg_dim #aeafb0;
@define-color red #c94f6d;
@define-color orange #f4a261;
@define-color yellow #dbc074;
@define-color green #81b29a;
@define-color cyan #73daca;
@define-color blue #719cd6;
@define-color magenta #9d7cd8;

* {
  border: none;
  border-radius: 6px;
  font-family: "JetBrains Mono NF";
  font-size: 10px;
  font-weight: bold;
  min-height: 0;
}

window#waybar {
  background-color: @bg;
  color: @fg;
  border-bottom: 2px solid @bg_highlight;
}

/* --- WORKSPACES --- */
#workspaces {
  background-color: @bg_alt;
  margin: 4px 2px;
  padding: 0px 4px;
}

#workspaces button {
  padding: 0px 8px;
  color: @fg_dim;
  background-color: transparent;
  border-radius: 4px;
}

#workspaces button:hover {
  background-color: @bg_highlight;
  color: @fg;
}

#workspaces button.focused {
  color: @bg;
  background-color: @blue;
}

#workspaces button.urgent {
  color: @bg;
  background-color: @red;
}

/* --- MÓDULOS INDIVIDUAIS --- */
#mode,
#scratchpad,
#custom-media,
#idle_inhibitor,
#pulseaudio,
#backlight,
#cpu,
#memory,
#temperature,
#battery,
#clock,
#tray {
  background-color: @bg_alt;
  color: @fg;
  padding: 2px 10px;
  margin: 4px 2px;
}

/* Cores específicas no tom Nightfox */
#mode {
  background-color: @yellow;
  color: @bg;
}

#scratchpad {
  color: @magenta;
}

#custom-media {
  color: @green;
}

#idle_inhibitor.activated {
  color: @red;
}

#pulseaudio {
  color: @cyan;
}

#backlight {
  color: @yellow;
}

#cpu {
  color: @blue;
}

#memory {
  color: @magenta;
}

#temperature {
  color: @orange;
}

#temperature.critical {
  background-color: @red;
  color: @bg;
}

#battery {
  color: @green;
}

#battery.charging,
#battery.plugged {
  color: @cyan;
}

#battery.warning:not(.charging) {
  color: @orange;
}

#battery.critical:not(.charging) {
  background-color: @red;
  color: @bg;
}

#clock {
  color: @blue;
  background-color: @bg_highlight;
}

#tray {
  padding-right: 8px;
}
